
@font-face {
	font-family: 'creato';
	src: url('./fonts/');
	src: url('./fonts/creatodisplay-light-webfont.eot');
	src: local('creato'),
		local('creatodisplay-light-webfont'),
		url('./fonts/creatodisplay-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/creatodisplay-light-webfont.woff') format('woff'),
		url('./fonts/creatodisplay-light-webfont.woff2') format('woff2'),
		url('./fonts/creatodisplay-light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'creato';
	src: url('./fonts/creatodisplay-black-webfont.eot');
	src: local('creato'),
		local('creatodisplay-black-webfont'),
		url('./fonts/creatodisplay-black-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/creatodisplay-black-webfont.woff') format('woff'),
		url('./fonts/creatodisplay-black-webfont.woff2') format('woff2'),
		url('./fonts/creatodisplay-black-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'creato';
	src: url('./fonts/creatodisplay-medium-webfont.eot');
	src: local('creato'),
		local('creatodisplay-medium-webfont'),
		url('./fonts/creatodisplay-medium-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/creatodisplay-medium-webfont.woff') format('woff'),
		url('./fonts/creatodisplay-medium-webfont.woff2') format('woff2'),
		url('./fonts/creatodisplay-medium-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'creato';
	src: url('./fonts/creatodisplay-regular-webfont.eot');
	src: local('creato'),
		local('creatodisplay-regular-webfont'),
		url('./fonts/creatodisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/creatodisplay-regular-webfont.woff') format('woff'),
		url('./fonts/creatodisplay-regular-webfont.woff2') format('woff2'),
		url('./fonts/creatodisplay-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'creato';
	src: url('./fonts/creatodisplay-thin-webfont.eot');
	src: local('creato'),
		local('creatodisplay-thin-webfont'),
		url('./fonts/creatodisplay-thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/creatodisplay-thin-webfont.woff') format('woff'),
		url('./fonts/creatodisplay-thin-webfont.woff2') format('woff2'),
		url('./fonts/creatodisplay-thin-webfont.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'creato';
	src: url('./fonts/creatodisplay-bold-webfont.eot');
	src: local('creato'),
		local('creatodisplay-thin-webfont'),
		url('./fonts/creatodisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/creatodisplay-bold-webfont.woff') format('woff'),
		url('./fonts/creatodisplay-bold-webfont.woff2') format('woff2'),
		url('./fonts/creatodisplay-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'creato';
	src: url('./fonts/creatodisplay-extrabold-webfont.eot');
	src: local('creato'),
		local('creatodisplay-extrabold-webfont'),
		url('./fonts/creatodisplay-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/creatodisplay-extrabold-webfont.woff') format('woff'),
		url('./fonts/creatodisplay-extrabold-webfont.woff2') format('woff2'),
		url('./fonts/creatodisplay-extrabold-webfont.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

